@charset "utf-8";

.toptendiv {
    border: 3px solid orange;
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto auto;
}


.toptendiv>iframe {
    width: 100%;
    height: 32em;
}


.otherstats {
    width: 66%;
    float: right;
    display: grid;
    grid-template-columns: auto auto;
}

.otherstats>iframe {
    width: 100%
}

.otherstats>.finalblows,
.otherstats>.weapons {
    height: 30em;
}

.otherstats>.raids,
.otherstats>.dungeon {
    height: 75em;
}

.otherstats>.strikes,
.otherstats>.time {
    height: 15em;
}

.otherstats>.silly,
.otherstats>.idk {
    height: 15em;
}

.otherstats>.seals,
.otherstats>.commendations {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    height: 17em;
}

iframe {
    border: 3px solid orange;

}

.exotics {
    width: 33%;
    height: 175em;
}

@media only screen and (max-width:1200px) {
    .toptendiv {
        grid-template-columns: auto auto;
    }
    
    .toptendiv>iframe {
        height:25em;
    }

    .otherstats>iframe {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .otherstats>.finalblows {
        height: 20em
    }

    .otherstats>.dungeon {
        height: 60em
    }

    .otherstats>.commendations {
        height: 25em
    }
   
}

@media screen and (max-width:600px) {
    .toptendiv {
        grid-template-columns: auto;
    }

    .otherstats>iframe {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
}