@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');

@font-face {
    font-family: BoucherieBlock;
    src: url("../fonts/Boucherie Block.ttf");
}

@font-face {
    font-family: JetBrains Mono;
    src: url("../fonts/JetBrainsMono-Regular.ttf");
}

html {
    background-color: rgb(30, 30, 30);
    color: white;
}

/*HEADER---------------------------------------------------------------------*/
header {
    background-color: rgb(50, 50, 50);
    display: flex;
    align-items: center;

    justify-content: center;
    vertical-align: baseline;
    height: 100px;
    border-bottom: 3px solid orange;

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

header h1,
header a {
    font-size: 75px;
    color: white;
    font-family: "BoucherieBlock", 'Courier New', Courier, monospace;
    font-weight: 100;
    width: 100%;
    text-align: center;
    text-decoration: none;

}

header a {
    position: absolute;
}

header img {
    height: 100px;
    padding: 2px 20px 5px 40px;
    position: absolute;
    left: 0;
    top: 0px;
}

/*SIDENAV---------------------------------------------------*/
.sidenav {
    height: 100%;
    width: 175px;
    position: fixed;
    transition:all 0.25s ease 0;
}

.sidenav>.dropdown {
    width:100%;
    margin: 0.5em auto;
}

/*DROPDOWN-------------------------------------------------------*/
button {
    background-color: rgb(30,30,30);
    border:none;
    font-family: "BoucherieBlock", 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: large;
    color: white;
    text-decoration: none;
    width:100%;
    transition:all 0.125s ease 0s;
}

button:hover {
    color:orange;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    overflow: auto;
    border:none;
    padding: 10px;
    text-align: center;
}


.dropdown-content a {
    display: block;
    text-decoration: none;
    font-family: "BoucherieBlock", 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: large;
    color: white;
    text-decoration: none;
    transition:all 0.125s ease 0s;
}

.dropdown-content a:hover {
    color: orange
}

.show{
    display: block;
}











/*MAIN-----------------------------------------------------------*/
.main {
    padding: 0 2% 0 175px;
    color: white;
    width: 100%;
    height: 100%;
    float: right;
    font-family: "JetBrains Mono", 'Courier New', Courier, monospace;

}


.main h1 {
    font-family: "JetBrains Mono", 'Courier New', Courier, monospace;

    font-size: xx-large;
    font-weight: bolder;
}

iframe {
    height: fit-content;
    /*border: 3px solid orange;*/
    float: inline-start;
    width: 45%
}

.main a {
    text-decoration: none;
    color: white;
    transition: all 0.25s ease 0s;
}

.main a:hover {
    color: orange;
}

/* MEDIA------------------------------- */
@media only screen and (max-width:1200px) {

    .main>.exotics,
    .main>.otherstats {
        width: 49%;
    }

    .sidenav a {
        font-size: x-large;
        margin: 1.5em 10% 1.5em 10%;
    }
}