{% extends 'base.html' %}



{% block head %}

{% endblock %}

{% block body %}

<div class="player-buttons">
    <button class="player-button" data-player="cameron">Cameron</button>
    <button class="player-button" data-player="connor">Connor</button>
    <button class="player-button" data-player="douglas">Douglas</button>
    <button class="player-button" data-player="hunter">Hunter</button>
    <button class="player-button" data-player="jack">Jack</button>
    <button class="player-button" data-player="kade">Kade</button>
    <button class="player-button" data-player="mark">Mark</button>
    <button class="player-button" data-player="thomas">Thomas</button>
</div>

    <table id="exoticTable" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Kills</th>
                <th>Precision</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.js"></script>
    <script src="{{ url_for('static', filename='exotics-json.js') }}"></script>

{% endblock %}